<ion-app>
  <app-menu></app-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-loading
    *ngIf="loading"
    [isOpen]="loading"
    message="Refreshing data..."
    spinner="crescent"
    backdropDismiss="false">
  </ion-loading>
</ion-app>

<!-- Add this to each page's toolbar where you want to show the user profile -->
<ng-template #userProfile>
  <ion-buttons slot="end" *ngIf="userSession$ | async as session">
    <ion-button (click)="showProfileMenu($event)">
      <ion-avatar slot="icon-only">
        <img [src]="session.picture" *ngIf="session.picture">
        <ion-icon name="person-circle-outline" *ngIf="!session.picture"></ion-icon>
      </ion-avatar>
    </ion-button>
  </ion-buttons>
</ng-template>
