<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to PlayMate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="login-container">
        <div class="intro-text">Please sign in with your Google account to continue</div>
        <ion-button (click)="handleGoogleSignIn()" expand="block">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Sign in with Google
        </ion-button>
        <div class="scope-info">
          This app requires access to:
          <ul>
            <li>Google Sheets</li>
            <li>Your email address</li>
          </ul>
        </div>
        <div *ngIf="error" class="error-message">
          {{ error }}
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
