<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="members" href="/tabs/members">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Members</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="attendance" href="/tabs/attendance">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Attendance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payments" href="/tabs/payments">
      <ion-icon aria-hidden="true" name="cash"></ion-icon>
      <ion-label>Payments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sports" href="/tabs/sports">
      <ion-icon aria-hidden="true" name="basketball"></ion-icon>
      <ion-label>Sports</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
